body {
    font-family: 'Avenir Next';
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

a, a:hover, a:visited {
    text-decoration: none;
    color: inherit;
}

.logo {
    width: 16em;
}

.banner {
    background: url(../img/banner.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.banner_interior {
    text-align: center;
    width: 100%;
}

.banner_interior img {
    padding: 3em 0;
}

.banner_texto {
    text-align: center;
    width: 100%;
    padding-bottom: 3em;
}

.banner_texto h1 {
    background: rgba(239, 222, 224, 0.52);
    padding: 1em;
    display: inline;
    font-size: 1.4em;
}

.titulos_inicio {
    font-family: 'Cardo';
    font-size: 2em;
    margin-top: 2em;
    margin-left: 5em;
    margin-bottom: 0;
}

.linea_separador {
    background: rgba(232, 207, 207, 0.39);
    height: 10px;
}

.parrafo_centrado {
    margin: 2em 20em;
    text-align: center;
}

.parrafo_izquierda {
    font-size: 1em;
    margin: 0px 2em;
}

.parrafo_contacto {
    padding: 4em;
    margin: 4em 5em;
    background: rgba(232, 207, 207, 0.3);
    float: left;
    font-weight: 600;
    text-align: center;
}

.imagen_nosotros {
    float: right;
    padding: 3em 2em;
    /* display: flex;
    justify-content: flex-end;
    margin-right: 2em; */
}

.banner_texto--nosotros {
    text-align: center;
    width: 100%;
}

.banner_texto--nosotros p {
    background: #E8CFCF;
    padding: 1em;
    display: inline;
    font-size: 1.3em;
    letter-spacing: 0.8em;
}